body {
    background: rgba(233, 233, 233, 0.582);
    height: 100%;
    padding: 3em;
    font-family: 'Montserrat';
}

#editorjs {
    background: white;
}

button {
    background: rgb(0, 174, 255);
    color: white;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1em;
    margin-top: 2em;
}

#ani {
    color: rgb(0, 174, 255);
}